html{
  font-size: .8vw;
}

body {
  background-color: #0D0D0D;
  margin: 0;
  line-height: normal;
  display: flex;
  flex-direction: column;
  cursor: none;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased !important;
}
::-webkit-scrollbar{
  display: none;
}
a {
  text-decoration: none !important;
  cursor: none !important;
}
p, h2, h1, h3, h4, h5{
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
:root {
  /* fonts */
  --texxt:'SONGER SE ExtraBold';
  --text-block:'Montserrat';
  --text-menu:'SONGER SE Medium';
  --motto: 'Avant Garde Std';
  --text-first:'SONGER SE Bold';
}
